[submodule "submodules/owl"]
	path = submodules/owl
	url = https://github.com/owl-project/owl.git
[submodule "submodules/umesh"]
	path = submodules/umesh
	url = https://gitlab.com/ingowald/umesh.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/imgui-transfer-function"]
	path = submodules/imgui-transfer-function
	url = https://github.com/Twinklebear/imgui-transfer-function.git
