[submodule "submodules/owl"]
	path = submodules/owl
	url = https://github.com/owl-project/owl.git
[submodule "submodules/umesh"]
	path = submodules/umesh
	url = https://gitlab.com/ingowald/umesh.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
